@-webkit-keyframes updown {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes updown {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes brokenRevealY {
  from {
    -webkit-clip-path: circle(8.9% at 50% 50%);
            clip-path: circle(8.9% at 50% 50%);
  }
  to {
    -webkit-clip-path: circle(70.7% at 50% 50%);
            clip-path: circle(70.7% at 50% 50%);
  }
}
@keyframes brokenRevealY {
  from {
    -webkit-clip-path: circle(8.9% at 50% 50%);
            clip-path: circle(8.9% at 50% 50%);
  }
  to {
    -webkit-clip-path: circle(70.7% at 50% 50%);
            clip-path: circle(70.7% at 50% 50%);
  }
}
@-webkit-keyframes revealY {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 1;
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    opacity: 1;
  }
}
@keyframes revealY {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 1;
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes blackHole {
  0% {
    -webkit-clip-path: circle(140.9% at 0 0);
            clip-path: circle(140.9% at 0 0);
  }
  100% {
    -webkit-clip-path: circle(0% at 0 0);
            clip-path: circle(0% at 0 0);
  }
}
@keyframes blackHole {
  0% {
    -webkit-clip-path: circle(140.9% at 0 0);
            clip-path: circle(140.9% at 0 0);
  }
  100% {
    -webkit-clip-path: circle(0% at 0 0);
            clip-path: circle(0% at 0 0);
  }
}
.arrow {
  animation: updown 0.5s ease-in-out alternate-reverse infinite;
}

.hero {
  --ad:1s;
  --delay:.8s;
}
.hero__img {
  -webkit-animation: brokenRevealY var(--ad) ease-in-out forwards;
          animation: brokenRevealY var(--ad) ease-in-out forwards;
}

.hero__content {
  opacity: 0;
  -webkit-animation: revealY var(--ad) var(--delay) ease-in-out forwards;
          animation: revealY var(--ad) var(--delay) ease-in-out forwards;
}

.header {
  --ad:1s;
  --delay:1s;
  opacity: 0;
  -webkit-animation: opacity var(--ad) var(--delay) ease-in-out forwards;
          animation: opacity var(--ad) var(--delay) ease-in-out forwards;
}

.header__nav {
  -webkit-clip-path: circle(0% at 100% 0);
          clip-path: circle(0% at 100% 0);
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
}

.show-nav {
  -webkit-clip-path: circle(70.7% at 50% 50%);
          clip-path: circle(70.7% at 50% 50%);
}

.header__menu .bar1, .header__menu .bar3 {
  transform: scaleX(1);
  transform-origin: right center;
  transition: transform 0.5s ease;
}

.menu-close .bar1, .menu-close .bar3 {
  transform: scaleX(0.5);
}

.header__nav-links {
  position: relative;
}
.header__nav-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--accent-clr);
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.header__nav-links:hover::after {
  transform: scaleX(1);
}/*# sourceMappingURL=animations.css.map */