@keyframes updown{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(-10px);
    }
}
@keyframes brokenRevealY {
    from{
        clip-path: circle(8.9% at 50% 50%);
    }
    to{
        clip-path: circle(70.7% at 50% 50%);
    }
    
}
@keyframes revealY{
    0%{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        opacity:1;
    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        opacity:1;
    }
}
// scroll indicator animation
.arrow{
    animation: updown .5s ease-in-out alternate-reverse infinite; 
}
// hero image animation that will be shown as soon as page loads
.hero{
    --ad:1s;
    --delaly:.8s;
    &__img{
       animation: brokenRevealY var(--ad) ease-in-out forwards;
    }

}
// hero content animation 
.hero{
    &__content{
        opacity: 0;
        animation: revealY var(--ad) var(--delaly) ease-in-out forwards;

    }
}
// header nav animation for small screen devices
.header__nav{
    clip-path: circle(0.0% at 100% 0);
    transition: clip-path .5s ease ;

}
.show-nav{
    clip-path: circle(70.7% at 50% 50%);
}
// burger menu button animation
.header__menu{
    .bar1 , .bar3{
        transform: scaleX(1);
        transform-origin: right center;
        transition: transform .5s ease;

    }
}
.menu-close{
    .bar1, .bar3{
        transform: scaleX(.5);
    }
}
// hover animation for nav links present inside header
.header__nav-links{
    position: relative;
    &::after{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:2px;
        background-color: var(--accent-clr);
        transform-origin: left center;
        transform: scaleX(0);
    transition: transform .5s ease;

    }
    &:hover::after{
        transform:scaleX(1);
    }
}